<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;">
    <h2 class="subtitulo">Documentos</h2>
    <div class="btn">
        <button mat-button class="btn-padrao" (click)="openAlertDialog2()">Novo anexo</button>
    </div>
</div>
<div class="relatorio-anexos">
    <div class="relatorio-receitas">
        <div class="info">
            <div class="qtd">{{sortedData.length}}</div>
            <p>
                documentos<br>
                anexados
            </p>
        </div>
    </div>

    <div class="upload">
        <input type="file" (change)="onFileSelected($event)">
        <div class="img">
            <img src="assets/images/icone-upload.svg" alt="">
        </div>
        <p class="txt1">Clique aqui para anexar</p>
        <p class="txt2">Arquivos suportados: PDF, JPG e PNG</p>
    </div>
</div>

<h2 class="subtitulo">Anexos</h2>

<div class="receitas"
    *ngFor="let item of sortedData | paginate: { itemsPerPage: totalItens, currentPage: p }; let idx = index">
    <div class="info">{{item.ane_name}}</div>
    <div class="data">
        {{ item.ane_date | date: 'dd/MM/yyyy'}}
        <span class="btn" *ngIf="item.expired">
            <img src="assets/images/icone-informacao.svg" alt="" matTooltip="Anexado há mais de 30 dias">
        </span>
    </div>
    <div class="profissional">
        {{ item.clinic_name | slice:0:18}}...
    </div>
    <div class="btn">
        <button mat-button (click)="downloadFile(item)">
            <span class="material-symbols-outlined">file_download</span>
            <!-- <img src="assets/images/icone-editar2.svg" alt=""> -->
        </button>

    </div>
</div>

<div class="paginacao">

    <div class="exibindo">
        <mat-menu #total="matMenu">
            <button mat-menu-item (click)="totalItens = 4">4</button>
            <button mat-menu-item (click)="totalItens = 10">10</button>
            <button mat-menu-item (click)="totalItens = 50">50</button>
            <button mat-menu-item (click)="totalItens = 100">100</button>
        </mat-menu>
    </div>

    <div class="paginas" *ngIf="sortedData.length > 0">
        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div class="paginacao-geral" *ngIf="sortedData.length === 0">
        <div class="paginas">
            <h2 class="piscar" style="color: #485DFF;">Nenhum documento anexado</h2>
        </div>
    </div>
</div>