<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">

    <h2 mat-dialog-title>{{dialogTitle}}</h2>

    <form [formGroup]="formAddRegister">


        <div class="text-inside">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Registro</mat-label>
                <input matInput type="text" placeholder="Registro" formControlName="rt_name">
                <mat-error *ngIf="checkError('rt_name', 'required')">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>

        <div class="text-inside">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Descrição</mat-label>
                <textarea matInput type="text" placeholder="Descrição" formControlName="rt_desc"></textarea>
                <mat-error *ngIf="checkError('rt_desc', 'required')">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>



        <div mat-dialog-actions style="text-align: right;">
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit();">{{ dialogButton }}</button>

            <span class="spacer"></span>
            <button mat-button (click)="onDismiss()">Cancelar</button>
        </div>



    </form>


</div>