<app-header-nova-consulta [showBtnNotification]="true" [showUser]="true" [menu]="true"></app-header-nova-consulta>

<div class="container container2">

    <section id="doctor-chat">
        <div class="destaque">
            <img src="assets/images/foto2.png" alt="">
        </div>
        <div class="informacao">

            <div class="profissional">
                <div class="img">
                    <img src="assets/images/foto3.png" alt="">
                    <span class="online"></span>
                </div>
                <div class="info">
                    <h2>Dr. Cláudio Batista</h2>
                    <h3>Psicólogo</h3>
                </div>
            </div>

            <div class="avaliacao">
                <img src="assets/images/star.svg" alt="">
                <img src="assets/images/star.svg" alt="">
                <img src="assets/images/star.svg" alt="">
                <img src="assets/images/star.svg" alt="">
                <img src="assets/images/star2.svg" alt="">
                <span>64 avaliações</span>
            </div>

            <div class="acoes">
                <div class="ligar">
                    <img src="assets/images/icone-telefone.svg" alt="">
                </div>
                <div class="video">
                    <img src="assets/images/icone-video.svg" alt="">
                </div>
            </div>

        </div>
        <div class="chat">
            <div class="data">10 de setembro de 2022</div>

            <div class="box-message profissional">
                <div class="message">
                    <div class="img">
                        <img src="assets/images/foto3.png" alt="">
                    </div>

                    <div class="msg">
                        <p>Bom Dia, vamos começar sua consulta...</p>
                        <span class="time">
                            <span class="material-symbols-outlined">schedule</span>
                            15h28
                        </span>
                    </div>
                </div>
            </div>

            <div class="box-message">
                <div class="message">
                    <div class="img">
                        <img src="assets/images/foto.png" alt="">
                    </div>

                    <div class="msg">
                        <p>Oi bom dia, estou conectando!</p>
                        <span class="time">
                            <span class="material-symbols-outlined">schedule</span>
                            15h30
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="comunicacao">
            <form>
                <div class="msg">
                    <mat-form-field>
                        <textarea matInput placeholder="Escreva aqui sua mensagem"></textarea>
                    </mat-form-field>
                   
                    <button mat-button class="btn-anexo">
                        <img src="assets/images/icone-anexo.svg" alt="">
                    </button>                   
                    <button mat-button>
                        <img src="assets/images/icone-audio.svg" alt="">
                    </button>

                </div>
                <div class="btn">                    
                    <button mat-button>
                        <img src="assets/images/icone-enviar.svg" alt="">
                    </button>
                </div>
            </form>
        </div>
    </section>

</div>

<app-footer></app-footer>