<div id="box-login">

  <aside id="login-welcome">
    
    <div class="welcome-message">
      <h1 class="welcome">Bem-vinda(o) à i9Care</h1>
      <h2 class="message">Atendimento quando e onde quiser!</h2>
    </div>

  </aside>

  <section id="login">

    <div class="login-content">
      <div class="logo-login">
          <img class="img-logo-clinic" src="../../../../assets/images/logotipo.png">
      </div>

      <ng-container>
          <h3 class="message">Hummm, parece que você não possui uma conta conosco...</h3>
  
          <form [formGroup]="formGroup">
          
            <a routerLink="/clinica/cadastro"><button type="submit" mat-button>Criar conta grátis</button></a>
  
          <div class="link-cadastro">
            <a routerLink="/clinica/login">Já tem uma conta? <span>Entre aqui</span></a>
          </div>
          </form>
      </ng-container>

    </div>

  </section>

</div>


<!--<div id="div-principal">
  
  <aside id="login-div">

    <div class="welcome-message">
      <h1 class="welcome">Bem-vinda(o) à i9Care</h1>
      <h2 class="message">Atendimento quando <br> e onde quiser!</h2>
    </div>

  </aside>

  <section id="login">
    <div class="login-content">
      
      <div class="logo-photo">
        <a routerLink="/">
          <img src="assets/images/logo-fisiomart.svg" alt="">
        </a>
      </div>
    </div>

    <h3 class="information">Hummm, parece que você não possui uma conta conosco... <br> <span>Entre aqui,</span>
      <br> 
      e cadastre-se em nossa plataforma!</h3>

      <form [formGroup]="formGroup">

        <button type="submit" mat-button>Criar conta grátis</button>

        <div class="link-cadastrar">
            <a routerLink="/clinica/login">Já tem uma conta? <span>Entre aqui</span></a>
        </div>
    </form>

  </section>



</div>







<!-- <div id="box-login">

    <aside id="login-welcome">
      
      <div class="welcome-message">
        <h1 class="welcome">Bem-vinda(o) à i9Care</h1>
        <h2 class="message">Atendimento quando e onde quiser!</h2>
      </div>
  
    </aside>
  
    <section id="login">
  
      <div class="login-content">
        <div class="logo-login">
          <a routerLink="/">
            <img src="assets/images/logo-fisiomart.svg" alt="">
          </a>
        </div>
  
        <h3 class="information">Hummm, parece que você não possui uma conta conosco...<span>Entre aqui,</span>
            <br> 
            e cadastre-se em nossa plataforma!</h3>
  
        <form [formGroup]="formGroup">

            <button type="submit" mat-button>Criar conta grátis</button>
  
            <div class="link-cadastro">
                <a routerLink="/clinica/login">Já tem uma conta? <span>Entre aqui</span></a>
            </div>
        </form>
  
      </div>
  
    </section>
  
</div> -->











<!-- <div fxLayout="row" fxFill>
    <div fxFlex="33" class="div-left" fxLayout="column" fxLayoutAlign="center center">

        <div class="welcome-message">
            <h1 class="welcome">Bem-vinda(o) à i9Care</h1>
            <h2 class="message">Atendimento quando e onde quiser!</h2>
        </div>

    </div>

    <section id="div-principal">
  
        <div class="login-content">
          <div class="logo-login">
            <a routerLink="/">
              <img src="assets/images/logo-fisiomart.svg" alt="">
            </a>
          </div>
    
          <h3 class="information">Hummm, parece que você não possui uma conta conosco...<span>Entre aqui,</span>
              <br> 
              e cadastre-se em nossa plataforma!</h3>
    
          <form [formGroup]="formGroup">
  
              <button type="submit" mat-button>Criar conta grátis</button>
    
              <div class="link-cadastrar">
                  <a routerLink="/clinica/login">Já tem uma conta? <span>Entre aqui</span></a>
              </div>
          </form>
    
        </div>
    
      </section>
</div> --> -->