<div id="div-principal">
  
    <aside id="login-div">
  
      <div class="welcome-message">
        <h1 class="welcome">Bem-vinda(o) à i9Care</h1>
        <h2 class="message">Atendimento quando <br> e onde quiser!</h2>
      </div>
  
    </aside>
  
    <section id="login">
      <div class="login-content">
        
        <div class="logo-photo">
          <a routerLink="/">
            <img src="assets/images/logo-fisiomart.svg" alt="">
          </a>
        </div>
      </div>

      <div class="correct">
        <img src="assets/images/ok-icon.png">
      </div>
        
  
      <h3 class="information">Sua consulta foi finalizada com sucesso <span>Click aqui,</span>
        <br> 
        para voltar a tela inicial!</h3>
  
    </section>
  
  
  
  </div>