<footer id="footer-site">
    <div class="content">
        <div class="copyright">
            &copy; 
            <span> {{anoAtual}} i9 Care</span> &bull; 
            <span>Todos os direitos reservados</span> &bull; 
            <span>CNPJ 01.010.101/0001-01</span> &bull; 
            <span> Brasil</span>
        </div>
        <div class="acoes">
            <a href="#">Termos e Condições de Uso</a>
            <a href="#">Privacidade</a>
            <a href="#" class="ajuda">?</a>
        </div>
    </div>
</footer>
<div class="footer-ghost"></div>