<!-- <app-header [fixedHeader]="true"></app-header> -->

<div class="alert" >
    <p class="frase">Ops, esta cliníca não existe!</p>
    <!-- <div id="acoes-principais">
        <div class="acao">            
            <button mat-button class="btn-padrao">
                <span class="material-symbols-outlined" style="width: 2px;">add</span> 
                Novo Atendimento
            </button>
        </div>
    </div> -->

</div>


<!--
<div class="upcoming-meeting" >
    <mat-icon class="relogio">schedule</mat-icon>
    <P class="frase02">Fico feliz em ver que você já conseguiu acessar o link da consulta. Aguarde um pouco e logo
        começaremos.</P>
    <P class="frase02-1">O atendimento online está agendado conforme informações listadas abaixo:</P>


</div>
-->