<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">

    <h2 mat-dialog-title>Alterar senha?</h2>

    <form [formGroup]="CadastroChangePasswordForm">
        <div>
            <div class="formulario">
                <div class="form-b" style="width: 100%;">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Senha antiga</mat-label>
                        <input type="password" matInput formControlName="old_password">
                    </mat-form-field>
                </div>
            </div>

            <div class="formulario">
                <div class="form-b" style="width: 100%;">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Senha nova</mat-label>
                        <input type="password" matInput formControlName="user_password">
                    </mat-form-field>
                </div>
            </div>

            <div class="formulario">
                <div class="form-b" style="width: 100%;">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Confirmar nova senha</mat-label>
                        <input type="password" matInput formControlName="confirm_password">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div style="text-align: right;">
            <button mat-button class="btn-cancelar3" style="margin-right: 10px;" (click)="onDismiss()">
                Cancelar
            </button>
            <button mat-button class="btn-padrao" (click)="onSubmit()">
                Salvar
            </button>
        </div>
    </form>
</div>