<section class="page-destaque page-destaque-area-clinica">
    <div class="container">
        
        <div class="page-destaque-informacoes">
            <div class="hello">
                <img src="assets/images/hello.svg" alt=""> 
                Olá, {{user.user_name}}
            </div>
            <h1>Seu dia a dia mais <span>prático</span> e <span>eficiente</span><span class="ponto">.</span></h1>
            <h2>Recursos para gestão da consultas online ou presenciais, cadastro de pacientes e profissionais da saúde.</h2>

            <div class="movimentacoes">
                <span class="material-symbols-outlined">monitoring</span> 
                Movimentações 
                <span class="bull">&bull;</span> 
                {{today | date: 'd'}} de {{today | date: 'MMMM'}} de {{today | date: 'y'}}
            </div>

            <div class="informacoes">
                <div class="box">
                    <div class="qtd">20</div>
                    <div class="info">consultas agendadas</div>
                </div>
                <div class="box">
                    <div class="qtd">2</div>
                    <div class="info">consultas não confirmadas</div>
                </div>
                <div class="box">
                    <div class="qtd">4</div>
                    <div class="info">profissionais disponíveis</div>
                </div>
            </div>

        </div>
        
    </div>
</section>

<section class="container container2">
    
    <h3 class="txt-destaque">
        Vamos lá!<br>
        Agende sua primeira consulta.
    </h3>

    <div class="btn-novo-atendimento">
        <button mat-button class="btn-padrao" (click)="addConsulta()">
            <span class="material-symbols-outlined">add</span> 
            Novo atendimento
        </button>
    </div>
    
</section>

<app-footer></app-footer>