<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">

    <h2 mat-dialog-title>Cadastrar profissional ou enviar link?</h2>

    <form [formGroup]="formAddorSendLink">

        <div style="margin-bottom: 10px;">
            <mat-radio-group name="modalidade" formControlName="status">
                <mat-radio-button value="1">Cadastrar Profissional</mat-radio-button>
                <mat-radio-button value="0">Enviar link</mat-radio-button>
            </mat-radio-group>
        </div>

        <div *ngIf="formAddorSendLink.value.status == '1'">
            <br>
            <div class="box-select">
                <button mat-menu-item (click)="addProfessional()"
                    style="background-color: #485DFF; border-radius: 8px; color: white;">Cadastrar Profissional</button>
            </div>
        </div>

        <div class="form-b" *ngIf="formAddorSendLink.value.status == '0'">
            <br>
            <h3 style="color: #485DFF;">Por onde deseja enviar o link?</h3>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="user_email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Celular</mat-label>
                <input matInput formControlName="user_phone" [dropSpecialCharacters]="false" mask="(00) 0000-0000||(00) 0 0000-0000">
            </mat-form-field>
        </div>

        <div style="text-align: right;" *ngIf="formAddorSendLink.value.status == '0'">
            <button mat-button (click)="sendLink()" class="btn-padrao" [disabled]="button_disabled">
                Enviar link
            </button>
        </div>
    </form>
</div>