.menusss::before {
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.example-spacer {
    flex: 1 1 auto;
}

.div-form {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

image-cropper {
    height: 50vh;

}